{% load static %}
<section class="profile-card {{profile_card_layout}}">
  <div class="profile">
    {% with 'app/imgs/icon_'|add:ranking|add:'.png' as ranking_image %}
      <img src="{% static ranking_image %}" alt="icono de rango: {{ranking}}" title="rango {{ranking}}"
      class="ranking">
    {% endwith %}
    <img src="{{profile_image}}" alt="imagen de perfil de {{name}}" class="profile-image" title="usuario {{name}}">
  </div>

  <div class="points-wrapper">
    <div class="point">
      <div class="title-card">
        <h2>Puntos Generales</h2>
        <div class="decorator"></div>
      </div>
      <p class="point-num">{{general_points_num}}</p>
    </div>
  
    <div class="point">    
      <div class="title-card">
        <h2>Puntos Diarios</h2>
        <div class="decorator"></div>
      </div>
      <p class="point-num">{{daily_points_num}} / 10</p>
    </div>
    
    <div class="point">   
      <div class="title-card">
        <h2>Puntos Semanales</h2>
        <div class="decorator"></div>
      </div>
      <p class="point-num">{{weekly_points_num}} / 60</p>
    </div>
  </div>

  <div class="bg"></div>
</section>