{% extends 'admin/change_form.html' %}
{% load static %}

{% block admin_change_form_document_ready %}
{{ block.super }}
<script>
  const admin_type = "{{admin_type}}"
  const users_ids = {{users_ids|safe}}

  
  if (admin_type == "admin platino") {
    // Disable not editable fields
    const selectors_disbaled = [
     '.field-is_free', 
     '.field-is_vip',
    ]
    for (selector of selectors_disbaled) {
      const element = document.querySelector(selector)
      if (element) {
        element.classList.add ("hide")
      } else {
        console.log ("Element not found: " + selector)
      }
    }

    // Disable other user fields
    const select = document.querySelector('#id_user')
    const options = document.querySelectorAll('#id_user > option:not(:first-child)')

    options.forEach(option => {
      option_value = option.value
      if (!users_ids.includes(option_value)) {
        select.removeChild(option)
      }
    });
  }


</script>

<style>
  /* Custom styles for disabled inputs */
  .hide {
    display: none !important;
  }

</style>
{% endblock %}