{% extends 'admin/change_form.html' %}
{% load static %}

{% block admin_change_form_document_ready %}
{{ block.super }}
<script>
  // Disable not editable fields
  const selectors_disbaled = [
    'input[name="email"]',
    'input[name="picture"]',
    'input[name="user_name"]',
    'input[name="access_token"]',
    'input[name="refresh_token"]'
  ]

  for (selector of selectors_disbaled) {
    const element = document.querySelector(selector)
    element.readOnly = true
  }

  // Create image preview
  const picture = document.querySelector('input[name="picture"]')
  const picture_src = picture.value
  const picture_preview = `<img src="${picture_src}" alt="imagen de perfil" width="100px" class="profile">`
  picture.parentNode.insertAdjacentHTML('afterend', picture_preview)
</script>

<style>
  /* Custom styles for disabled inputs */
  input[readOnly] {
    border: none;
    opacity: 0.6;
  }

  /* Custom styles for profile image */
  img.profile {
    margin-left: 160px;
    padding-left: 10px;
  }

</style>
{% endblock %}