{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'app/imgs/favicon.png' %}">

    <!-- Metadata -->
    <title>{% block title %}{% endblock %} | Comunidad MC</title>
    <meta name="description" content="{% block description %}Comunidad MC premia a las personas que dan el apoyo que todos buscamos y merecemos, no somos una comunidad follow por follow, y mucho menos te obligamos a seguir a las personas dentro de la Comunidad MC. Lo que buscamos con esta página es que impulses tu PROPIA comunidad haciendo que el algoritmo de Twitch te promocione en el apartado 'CANALES RECOMENDADOS' y poder hacer una mejor exposicion de tu canal y contenido.{% endblock %}">
    <meta name="keywords" content="{% block keywords %}comunidad, mc, twitch, follow, canales recomendados, canal, crecer{% endblock %}">
    <meta name="author" content="{% block author %}Comunidad MC{% endblock %}">

    <!-- Google fornts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700&family=Lato:wght@400;700&display=swap" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'app/css/styles.css' %}">
</head>
<body>
    <header>

    </header>
    <main class="{% block main_class %}{% endblock %}">
        {% block main %}{% endblock %}
    </main>
    <footer id="footer">
        <small>
            <span>
                © 2023 comunidadmc.com Todos los derechos reservados. Powered by <a href="mailto:darideveloper@gmail.com">Dari Developer</a>
            </span>
        </small>
    </footer>    

    <!-- Get js variables from django -->
    <script>
        const error = "{{ error }}";
        console.log (error)
    </script>
    
    <!-- Alerts imports -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.14/dist/sweetalert2.all.min.js"></script>
    <script src="{% static 'app/code/alerts.js' %}" type="module"></script>
</body>
</html>