{% extends "app/base.html" %}
{% load static %}

{% block main %}
<div class="content regular-width">
  <h1>Calendario de streams</h1>
  <div id="calendar"></div>
</div>
{% endblock %}

{% block css %}

{% endblock %}

{% block js %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
<script>
document.addEventListener('DOMContentLoaded', function() {

    // data from django
    const streams = {{ streams|safe }};

    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: { center: 'dayGridMonth,timeGridDay' }, // buttons for switching between views
      views: {
        dayGridMonth: {},
        timeGridDay: {},
      }      
    });
    calendar.render();
    // Add streams as events

    // Change languaje to espanish
    calendar.setOption('locale', 'es');

    streams.map (stream => {
      calendar.addEvent({
        title: stream.bits ? `${stream.user} (${ stream.bits })` :  stream.user,
        start: stream.start,
        end: stream.end,
        allDay: false,
        url: stream.url,
        color: stream.bits ? (stream.bits_done == "True" ? 'gray' : 'green') : 'blue'
      });
    })
  });
</script>
{% endblock %}
