{% extends "app/base.html" %}
{% load static %}

{% block title %}Puntos{% endblock %}

{% block main_class %}{{current_page}} app-screen{% endblock %}

{% block styles %}
  {% with 'app/css/'|add:current_page|add:'.css' as stylesheet %}
    <link rel="stylesheet" href="{% static stylesheet %}">
  {% endwith %}
{% endblock %}

{% block main %}
<div class="content regular-width">
  {% include 'app/components/profile_card.html' %}
  
  <section class="points-table">
    <h1>Puntos obtenidos</h1>
    <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Mis pts</th>
          <th>Pts obtenidos</th>
          <th>Detalles</th>
        </tr>
      </thead>
      <tbody>
        {% for point in points %}
        <tr>
          <td>{{point.date}}</td>
          <td>{{point.time}}</td>
          <td>{{point.my_points}}</td>
          {% if point.points > 0 %}
            <td>+ {{point.points}}</td>
          {% else %}
            <td>{{point.points}}</td>
          {% endif %}
          <td>{{point.details}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'app/code/profile-card.js' %}"></script>
{% endblock %}
