{% extends "app/base.html" %}
{% load static %}


{% block main %}
<div class="content regular-width">
  {% include 'app/components/profile_card.html' %}
  
  <section class="points-table">
    <h1>Puntos obtenidos</h1>
    <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Mis pts</th>
          <th>Pts obtenidos</th>
          <th>Canal</th>
          <th>Detalles</th>
        </tr>
      </thead>
      <tbody>
        {% for point in points %}

        
          <tr class="{% if point.points <= 0 %}warnning{% endif %}">
        
          <td>{{point.date}}</td>
          <td>{{point.time}}</td>
          <td>{{point.my_points}}</td>

          {% if point.points > 0 %}
            <td>+ {{point.points}}</td>
          {% else %}
            <td >{{point.points}}</td>
          {% endif %}

          <td>{{point.chanel}}</td>
          
          <!-- Details button -->
          <td>
          {% if point.details %}
          <button class="btn form regular more-info" data-details="{{point.details}}">
            <div class="content">
              <span>
                  mas info
              </span>
            </div>
          </button>
          {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'app/code/profile-card.js' %}"></script>
<script src="{% static 'app/code/details-general-point.js' %}" type="module"></script>
{% endblock %}
