{% extends "app/base.html" %}
{% load static %}

{% block title %}Puntos{% endblock %}

{% block main_class %}points app-screen{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'app/css/points.css' %}">
{% endblock %}

{% block main %}
<div class="content regular-width">
  <section class="profile-card">
    <div class="profile">
      <img src="{% static 'app/imgs/icon_diamante.png' %}" alt="icono de rango: diamante" title="rango diamante"
        class="ranking">
      <img src="{{profile_image}}" alt="imagen de perfil de {{name}}" class="profile-image">
    </div>
    <div class="title">
      <h2>Puntos Gen.</h2>
      <div class="decorator"></div>
    </div>
    <p class="points">{{general_points_num}}</p>
    <div class="title">
      <h2>Puntos Diarios</h2>
      <div class="decorator"></div>
    </div>
    <p class="points">{{today_points_num}} / 10</p>
    <div class="bg"></div>
  </section>
  <section class="points-table">
    <h1>Puntos obtenidos</h1>
    <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Mis puntos</th>
          <th>Canal</th>
        </tr>
      </thead>
      <tbody>
        {% for point in points %}
        <tr>
          <td>{{point.date}}</td>
          <td>{{point.time}}</td>
          <td>{{point.my_points}}</td>
          <td>{{point.channel}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
{% endblock %}