{% extends "app/base.html" %}
{% load static %}

{% block main %}
<div class="content regular-width">
  <div class="left">
    <div class="info card">
      {% include 'app/components/profile.html' %}

      <label>
        <span>ID Twitch</span>
        <input type="text" name="twitch-id" value="{{twitch_id}}" readonly>
      </label>

      <label>
        <span>Email</span>
        <input type="text" name="email" value="{{email}}" readonly>
      </label>

      <label>
        <span>Usuario</span>
        <input type="text" name="user_name" value="{{user_name}}" readonly>
      </label>

      <a href="{{twitch_refresh_link}}" class="btn form regular">Actualizar</a>
    </div>

    <div class="referral-table card">
      <div class="title-card">
        <h2>REFERIDOS</h2>
        <div class="decorator"></div>
      </div>

      <div class="referral-rows">
        {% for referral in referrals %}
          <div class="referral-row">
            <span class="user">{{referral.user}}</span>
            <span class="points">{{referral.points}}</span>
          </div>
        {% endfor %}
      </div>
    </div>

  </div>
  <div class="right">
    <form action="." method="POST" class="card form">

      {% csrf_token %}
      
      <label class="country">
        <span>País</span>
        <select name="country" id="country">
          <option value=""></option>
        </select>
      </label>

      <label class="time-zone">
        <span>Zona horaria</span>
        <select name="time-zone" id="time-zone">
          <option value=""></option>
        </select>
      </label>

      <label>
        <span>Teléfono</span>
        <input type="text" name="phone" value="{{phone}}">
      </label>
      
      <button class="btn form primary" type="submit" disabled>Guardar</button>

    </form>

    <div class="referral">
      <p>Invita a un amigo a unirse</p>
      <span>{{referral_link}}</span>
    </div>

  </div>  
</div>
{% endblock %}


{% block js %}
<!-- Set variables from backend -->
<script>
  const current_contry = "{{country}}"
  const current_time_zone = "{{time_zone}}"
</script>

<script src="{% static 'app/code/select-country.js' %}"></script>
<script src="{% static 'app/code/select-time-zone.js' %}"></script>
<script src="{% static 'app/code/profile.js' %}"></script>
{% endblock %}
