{% extends "app/base.html" %}
{% load static %}

{% block main %}
<div class="regular-width content">
  <div class="profile-card-wrapper">
    {% include 'app/components/profile_card.html' %}
  </div>
  <div class="schedule-content">

    <div class="times-my-streams">  
      <div class="my-streams">
  
        <div class="title-card">
          <h2>MIS STREAMS</h2>
          <div class="decorator"></div>
        </div>
        
        <table>
          <thead>
            <tr>
              <th></th>
              <th>FECHA</th>
              <th>HORA</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for stream in streams %}
            <tr>
              <td>
                {% if stream.is_vip %}
                  <img class="vip" src="{% static 'app/imgs/icon_oro.png' %}" alt="icono stream vip" title="Stream VIP">
                {% endif %}
                {% if stream.is_free %}
                  <img class="vip" src="{% static 'app/imgs/icon_plata.png' %}" alt="icono stream free" title="Stream Free">
                {% endif %}
              </td>
              <td>{{stream.date_formatted}}</td>
              <td>{{stream.time_24}} HRS</td>
              <td>
                <button data-stream="{{stream.id}}" class="btn cancel form green {{stream.is_cancellable}}">Cancelar</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
  
      </div>

      <div class="times">
        <div class="title-card">
          <h2>HORARIOS Y STREAMS</h2>
          <div class="decorator"></div>
        </div>
        
        <table>
          <thead>
            <tr>
              <th>RANKING</th>
              <th>NUM DE STREAMS</th>
              <th>HORA</th>
            </tr>
          </thead>
          <tbody>
            {% for ranking in rankings_data %}
            <tr>
              <td>{{ranking.name}}</td>
              <td>{{ranking.max_streams}}</td>
              <td>{{ranking.open_hour}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>


    <div class="shedule-form">

      <div class="title-card">
        <h2>AGENDAR</h2>
        <div class="decorator"></div>
      </div>

      {% if visible_schedule_panel %}
      <form action="." method="post">
        {% csrf_token %}

        <div class="date">
          <h3>Fecha</h3>
          <div class="select-wrapper">
            <div class="select">
              {% for day in available_days %}
              <label class="{% if day.disabled %}disabled{% endif %}{% if day.active %}active{% endif %}">
                {{day.name}}
                <input 
                  type="radio" 
                  name="date" 
                  value="{{day.date}}" 
                  date-text="{{day.date_text}}"
                  {% if day.disabled %}disabled{% endif %}
                  {% if day.active %}checked{% endif %}>
              </label>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="time">
          <h3>Hora</h3>
          <div class="select-wrapper">
            <div class="select">
              {% for hour in hours %}
                <label>
                  {{hour}}:00 hrs
                  <input type="radio" name="hour" value="{{hour}}" disabled>
                </label>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="confirmation">
          <h3>Confirma</h3>
          <p>
            <span class="day"></span>
            <span class="date"></span>
            <span class="time"></span>
            <span class="time-zone">(Zona horaria: {{time_zone}})</span>
          </p>

          {% if has_vips %}
          <div class="checkbox-wrapper">
            <label class="vip-free" title="Ùnico stream en la hora">
              Stream VIP
              <input type="checkbox" name="vip" id="vip">
            </label>
          </div>          
          {% endif %}

          {% if has_frees %}
          <div class="checkbox-wrapper">
            <label class="vip-free" title="Stream sin perder puntos por viwers">
              Stream FREE
              <input type="checkbox" name="free" id="free">
            </label>
          </div>          
          {% endif %}

          <input type="submit" class="btn form regular" value="confirmar" id="submit-btn" disabled>
        </div>

      </form>
      {% else %}
      <div class="no-form">
        <p>No puedes agendar streams en este momento</p>
        <img src="{% static 'app/imgs/icon_ups.png' %}" alt="panel de agendar no disponible">
      </div>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  const available_hours = {{available_hours|safe}};
  const hours = {{hours|safe}};
  const today_week_name = "{{today_week_name}}";
  const streams_date_times = {{streams_date_times|safe}}
</script>
<script src="{% static 'app/code/profile-card.js' %}" type="module"></script>
<script src="{% static 'app/code/schedule.js' %}" type="module"></script>
<script src="{% static 'app/code/checkbox.js' %}" type="module"></script>
{% endblock %}
