{% extends "app/base.html" %}
{% load static %}

{% block main %}
<div class="regular-width content">
  {% include 'app/components/profile_card.html' %}
  <div class="streams">

    <!-- Time component -->
    <div class="time-timezone-wrapper">
      <p class="time-timezone">
        <span class="user_timezone">
          Hora de {{user_timezone}}
        </span>
        <span class="time">
          {{user_time}}
        </span>
      </p>
    </div>

    <!-- Detect if there are stream available -->
    {% if streams|length == 0 %}
    
      <!-- Error mensaje if there aren't streams -->
      <div class="message-card">
        <img src="{% static 'app/imgs/icon_ups.png' %}" alt="ups icon">
        <div class="text">
          <h3>LO SENTIMOS</h3>
          <p>No hay streams en emisión en este momento</p>
          {% if next_stream_time %}
          <p class="next-stream">Siguiente stream: 
            <span>
              {{next_stream_time}}
            </span>
          </p>
          {% endif %}
        </div>
      </div>

    {% else %}
    
      {% if user_streaming %}

        <!-- Error message if user its streaming -->
        <div class="message-card">
          <img src="{% static 'app/imgs/icon_on_air.png' %}" alt="on air icon">
          <div class="text">
            <h3>¿QUE HACES AQUÍ?</h3>
            <p>Tu directo está agendado a esta hora</p>
          </div>
        </div>

      {% else %}

        <!-- Show available streams -->
        <div class="streams-cards">
          {% for stream in streams %}

            <!-- Ignore Dari Dev strems -->
            {% if stream.user != "DariDeveloper" %}

              {% if stream.is_vip %}
              <div class="stream-card vip" title="Stream VIP (recibirás el tripe de puntos)">
              {% else %}
              <div class="stream-card" title="Stream regular">
              {% endif %}

                <!-- Image with border for vips -->
                <div class="wrapper-img">
                  <img src="{{stream.picture}}" alt="imagen de perfil del usuario {{stream.user}}">
                </div>

                <p class="name">{{stream.user}}</p>

                <button class="btn cta copy">
                  <div class="content">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path d="m6 18h-3c-.48 0-1-.379-1-1v-14c0-.481.38-1 1-1h14c.621 0 1 .522 1 1v3h3c.621 0 1 .522 1 1v14c0 .621-.522 1-1 1h-14c-.48 0-1-.379-1-1zm1.5-10.5v13h13v-13zm9-1.5v-2.5h-13v13h2.5v-9.5c0-.481.38-1 1-1z" fill-rule="nonzero"/>
                    </svg>
                    <span>
                      {% if stream.is_vip %}
                        Copiar VIP
                      {% else %}
                        Copiar
                      {% endif %}
                    </span>
                  </div>
                </button>

                <!-- Show bits donned button for admin_donnor users -->
                {% if stream.claimed_bits > 0 and is_admin_donnor %}
                <form action="." method="post">
                  {% csrf_token %}
                  <label class="donation {% if stream.is_bits_done %}checked{% endif %}">
                    <span>{{stream.claimed_bits}} Bits donados</span>
                    <input type="checkbox" name="donation" id="donation" {% if stream.is_bits_done %}checked{% endif %} >
                    <input type="hidden" name="stream" value="{{stream.id}}" >
                  </label>
                </form>
                {% endif %}

              </div>
            
            {% endif %}

          {% endfor %}
        </div>

      {% endif %}


    {% endif %}

    <div class="referral">
      <p>Invita a un amigo a unirse</p>
      <span>{{referral_link}}</span>
    </div>
    
    <p class="message">
      <span>
        Recuerda que para recibir puntos, deberás ver <b>todo el stream</b> y <b>comentar varias veces</b> al <b>principio</b>, a la <b>mitad</b> y al <b>final</b> del stream. 
      </span>
      <span>
        Para cualquier aclaración se necesita <b>captura, vídeo o el enlace la repetición</b> del stream dónde sean visibles <b>tus comentarios</b>
      </span>
    </p>



  </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'app/code/profile-card.js' %}"></script>
<script src="{% static 'app/code/support.js' %}" type="module"></script>
{% endblock %}
