{% extends "app/base.html" %}
{% load static %}

{% block main %}
<div class="regular-width content">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Ranking</th>
        <th>Email</th>
        <th>Generales</th>
        <th>Semanales</thclass=>
        <th>Diarios</thclass=>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>
          <a href="{{user.link}}">
            {{user.id}}
          </a>
        </td>
        <td>{{user.user_name}}</td>
        <td>{{user.ranking}}</td>
        <td>{{user.email}}</td>
        <td class="center">{{user.generals}}</td>
        <td class="center">{{user.weekly}}</td>
        <td class="center">{{user.daily}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}