.btn
    cursor: pointer

    // regular cta styles
    &.cta 
        display: inline-block

        .content
            display: flex
            align-items: center
            justify-content: center
            gap: 10px
            padding: 10px 20px
            background-color: $color-primary
            color: $color-text
            border-radius: 100px
            transition-duration: $transition-duration
            border: 4px solid $color-primary

            svg
                fill: $color-text
                width: 20px
                height: 20px
                transition-duration: $transition-duration

            span
                line-height: 20px
                display: inline-block
                font-weight: bold

        &:hover .content
                background-color: rgba($color-primary, 0.1)
                gap: 0px

                svg
                    width: 0px

        &:active .content
                background-color: rgba($color-primary, 0.4)

        // Dark cta styles
        &.dark 
            .content
                background-color: $color-bg
                border-color: $color-bg

            &:hover .content
                background-color: rgba($color-bg, 0.1)
                color: $color-bg

            &:active .content
                background-color: rgba($color-bg, 0.8)

        // Green cta styles
        &.green 
            .content
                background-color: $color-green
                border-color: $color-green

            &:hover .content
                background-color: rgba($color-green, 0.1)
                color: $color-green

            &:active .content
                background-color: rgba($color-green, 0.8)

            svg
                fill: $color-text
                width: 30px
                height: 30px

    // Header menu buttons
    &.menu
        border: none
        background-color: transparent
        width: 60px
        height: 60px

        &.close
            opacity: 0.5

        svg
            fill: $color-text
            width: 40px
            height: 40px

    &.form
        border: none
        padding: 5px 20px
        border-radius: 100px
        color: $color-bg
        font-weight: bold
        
        &.regular
            background-color: $color-green

        &.warning
            background-color: $color-red

        &:hover:not([disabled])
            opacity: 0.8

        &:active:not([disabled])
            opacity: 0.5

        &[disabled]
            opacity: 0.6
            cursor: not-allowed
