#rules
    .paralax
        height: 200px
        text-align: center
        font-size: 2rem
        background-image: url('../imgs/rules.webp')
        display: flex
        align-items: center
        justify-content: center

    .cards
        width: 100%
        max-width: 600px

        .card
            text-align: center
            margin: 80px 0

            &:first-child
                margin-top: 40px

            &:last-child
                margin-bottom: 40px

            img
                width: 100px

    // @media screen and (max-width: $regular-width-media-query)
        