@import 'base'
@import 'profile-card'

main.ranking .content
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 30px

    .left
        width: 400px

    .right.ranking-global
        width: calc(100% - 400px - 100px)

    .ranking-today
        margin-top: 30px

    .ranking-table
        background-color: $color-bg-light
        border-radius: 10px
        padding: 20px
        padding-top: 5px

        .title-card
            margin-left: -20px
            width: 270px

        ul
            margin: 0
            padding: 0
            width: 80%
            margin: 0 auto

            li
                list-style: none
                display: flex
                align-items: center
                justify-content: space-between
                margin: 10px 0

                span
                    color: $color-text
                    font-weight: bold
                    z-index: 1

        .top-cards

            .second-third-wrapper
                display: flex
                align-items: center
                justify-content: space-between
                margin-bottom: 30px

            .top-card-wrapper
                width: 45%
                display: inline-block
                margin-left: 0px

                &.first
                    margin: 0 auto
                    display: block
                    margin-bottom: 30px
                    margin-top: 20px

                .top-card
                    width: calc(100% - 20px)
                    background-color: $color-bg
                    position: relative
                    z-index: 1
                    display: flex
                    align-items: center
                    justify-content: space-between
                    padding: 0 10px
                    border-top-left-radius: 100px
                    border-bottom-left-radius: 100px

                    .profile

                        .image
                            width: 60px
                            border-radius: 50%

                        .ranking
                            width: 30px
                            position: absolute
                            top: -23px
                            left: -44px
                            transform: rotate($crown-angule)

                    span
                        color: $color-text

                        &.position
                            position: absolute
                            font-size: 2rem
                            font-weight: bold
                            top: -20px
                            right: 0
                            transform: rotate(10deg)

        .info
            font-size: 0.8rem
            margin-top: 30px
            display: inline-block
            width: 100%
            text-align: center

            span
                color: $color-text
                font-weight: bold
                text-decoration: underline

    @media screen and (max-width: 1150px)
        .ranking-table
            .top-cards
                .second-third-wrapper
                    flex-direction: column
                    width: 90%
                    margin: 0 auto
                    margin-bottom: 30px

                    .top-card-wrapper
                        margin-left: 0
                        margin-top: 30px
                        

                .top-card-wrapper
                    width: 100%
                    margin-left: 35px

                    &.first
                        width: 90%
                        margin-bottom: 0

    @media screen and (max-width: 1050px)
        .ranking-table
            .top-cards
                .second-third-wrapper
                    width: 100%

                .top-card-wrapper
                    &.first
                        width: 100%

    @media screen and (max-width: 950px)
        flex-direction: column

        .left
            width: 80%
            margin-bottom: 30px

        .right.ranking-global
            width: calc(80% - 40px)

    @media screen and (max-width: 650px)
        flex-direction: column

        .left
            width: 90%

        .right.ranking-global
            width: calc(90% - 40px)

    @media screen and (max-width: 425px)
        .ranking-table .top-cards .top-card-wrapper .top-card
            
            padding: 18px 12px
            border-radius: 0

            .profile
                display: none
            