@import 'base'
@import 'profile-card'

main.ranking .content
    display: flex
    align-items: center
    justify-content: space-between

    .left
        width: 400px

    .right.ranking-global
        width: calc(100% - 400px - 100px)

    .ranking-table
        background-color: $color-bg-light
        border-radius: 10px
        padding: 20px
        padding-top: 5px
        margin-top: 30px

        .title-card
            margin-left: -20px
            width: 270px

        ul
            margin: 0
            padding: 0
            width: 80%
            margin: 0 auto

            li
                list-style: none
                display: flex
                align-items: center
                justify-content: space-between
                margin: 10px 0

                span
                    color: $color-text
                    font-weight: bold
                    z-index: 1

        .top-cards

            .second-third-wrapper
                display: flex
                align-items: center
                justify-content: space-between
                margin-left: 35px
                margin-bottom: 30px

            .top-card-wrapper
                width: 45%
                display: inline-block
                margin-left: 0px

                &.first
                    margin: 0 auto
                    display: block
                    margin-bottom: 30px

                    .top-card
                        margin-left: 35px

                .top-card
                    width: calc(100% - 20px - 35px)
                    background-color: $color-bg
                    position: relative
                    z-index: 1
                    display: flex
                    align-items: center
                    justify-content: space-between
                    padding: 0 10px

                    .profile
                        margin-left: -35px

                        .image
                            width: 60px
                            border-radius: 50%

                        .ranking
                            width: 30px
                            position: absolute
                            top: -23px
                            left: -35px
                            transform: rotate($crown-angule)

                    span
                        color: $color-text

                        &.position
                            position: absolute
                            font-size: 2rem
                            font-weight: bold
                            top: -20px
                            right: 0
                            transform: rotate(10deg)
