@import 'base'
@import 'profile-card'
@import 'select-checkbox'

.profile-card-wrapper
    width: 550px
    margin: 0 auto
    margin-top: 50px

.my-streams-shedule-form-wrapper
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 50px

    .my-streams, .shedule-form
        background-color: $color-bg-light
        color: $color-text
        padding-bottom: 20px

    .my-streams
        width: calc(100% - 600px)
        table
            width: 100%
            position: relative

            td, th
                text-align: center
                padding: 10px 0

                img.vip
                    width: 20px
                    opacity: 0.5

    .shedule-form
        width: 550px
        form
            display: flex
            align-items: center
            justify-content: space-between
            padding: 20px

            .select-wrapper
                background-color: $color-bg
                border-radius: 10px
                padding: 20px 0
                max-height: 275px
                overflow-y: scroll

            .date, .time, .confirmation
                text-align: center

            .confirmation
                width: 150px
                p
                    span
                        display: block
                        margin: 10px 0

                        &.time-zone
                            font-size: 0.8rem

                .btn
                    margin-top: 20px
                    font-size: 1.2rem

@media screen and (max-width: 1100px)
    .my-streams-shedule-form-wrapper
        flex-direction: column

        .my-streams
            width: 60%
            margin-bottom: 50px

        .shedule-form
            width: 60%

            form
                justify-content: center
                gap: 15px

@media screen and (max-width: 960px)
    .my-streams-shedule-form-wrapper
        .my-streams, .shedule-form
            width: 80%

@media screen and (max-width: 750px)
    .my-streams-shedule-form-wrapper
        .my-streams, .shedule-form
            width: 100%

@media screen and (max-width: 650px)
    .profile-card-wrapper
        width: 100%

@media screen and (max-width: 580px)
    .my-streams-shedule-form-wrapper
        .my-streams, .shedule-form
            width: 60%

        .my-streams
            table
                th
                    display: none
                
                tr
                    display: flex
                    flex-direction: column
                    align-items: center
                    margin-bottom: 10px

        .shedule-form
            form
                flex-direction: column

@media screen and (max-width: 420px)
    .my-streams-shedule-form-wrapper
        .my-streams, .shedule-form
            width: 80%