html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 16px;
}
@media screen and (max-width: 700px) {
  html {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #0e1119;
  font-family: "Lato", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

.wrapper-img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-img img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 1rem;
  color: #cfd5dc;
}
p.small {
  font-size: 0.8rem;
}

.hide {
  display: none !important;
}

a {
  text-decoration: none;
  color: #7a70b3;
}

.regular-width {
  max-width: 1100px;
  margin: 0 auto;
}
@media screen and (max-width: 1150px) {
  .regular-width {
    padding: 0 5%;
    width: 90%;
  }
}

.full-width {
  max-width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: "Lato", cursive;
  color: #cfd5dc;
  font-weight: normal;
}

*:focus {
  outline: none;
}

.paralax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shadow {
  box-shadow: 0px 0px 23px -15px #7a70b3;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  cursor: pointer;
}
.btn.cta {
  display: inline-block;
}
.btn.cta .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  background-color: #7a70b3;
  color: #cfd5dc;
  border-radius: 100px;
  transition-duration: 0.3s;
  border: 4px solid #7a70b3;
}
.btn.cta .content svg {
  fill: #cfd5dc;
  width: 20px;
  height: 20px;
  transition-duration: 0.3s;
}
.btn.cta .content span {
  line-height: 20px;
  display: inline-block;
  font-weight: bold;
}
.btn.cta:hover .content {
  background-color: rgba(122, 112, 179, 0.1);
  gap: 0px;
}
.btn.cta:hover .content svg {
  width: 0px;
}
.btn.cta:active .content {
  background-color: rgba(122, 112, 179, 0.4);
}
.btn.cta.dark .content {
  background-color: #0e1119;
  border-color: #0e1119;
}
.btn.cta.dark:hover .content {
  background-color: rgba(14, 17, 25, 0.1);
  color: #0e1119;
}
.btn.cta.dark:active .content {
  background-color: rgba(14, 17, 25, 0.8);
}
.btn.cta.green .content {
  background-color: #499c7d;
  border-color: #499c7d;
}
.btn.cta.green:hover .content {
  background-color: rgba(73, 156, 125, 0.1);
  color: #499c7d;
}
.btn.cta.green:active .content {
  background-color: rgba(73, 156, 125, 0.8);
}
.btn.cta.green svg {
  fill: #cfd5dc;
  width: 30px;
  height: 30px;
}
.btn.menu {
  border: none;
  background-color: transparent;
  width: 60px;
  height: 60px;
}
.btn.menu.close {
  opacity: 0.5;
}
.btn.menu svg {
  fill: #cfd5dc;
  width: 40px;
  height: 40px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #0e1119;
}

::-webkit-scrollbar-thumb {
  background: #7a70b3;
  margin-top: -5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #cfd5dc;
}

#header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
#header nav .logo img {
  height: 30px;
  margin: 10px 0;
}
#header nav .btn.menu {
  display: none;
}
#header nav .menu-wrapper ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#header nav .menu-wrapper ul li {
  list-style: none;
  padding: 0 20px;
}
#header nav .menu-wrapper ul li.active a {
  color: #499c7d;
  cursor: default;
}
#header nav .menu-wrapper ul li.active:hover {
  border: none;
}
#header nav .menu-wrapper ul li:hover:not(.active) a {
  color: #cfd5dc;
  border-bottom: 2px solid #cfd5dc;
}
#header nav .menu-wrapper ul li:last-child {
  opacity: 0.5;
}
#header nav .menu-wrapper ul li a {
  padding: 10px;
  display: inline-block;
  border-bottom: 2px solid rgba(207, 213, 220, 0);
  color: rgba(207, 213, 220, 0.7);
  transition-duration: 0.3s;
}
@media screen and (max-width: 1000px) {
  #header nav:not(.landing) .btn.menu {
    display: inline-block;
  }
  #header nav:not(.landing) .menu-wrapper {
    position: fixed;
    top: 0;
    right: -200px;
    height: 100vh;
    width: 170px;
    background-color: #17181D;
    transition-duration: 0.3s;
  }
  #header nav:not(.landing) .menu-wrapper.open {
    right: 0;
  }
  #header nav:not(.landing) .menu-wrapper ul.menu {
    flex-direction: column;
    justify-content: flex-start;
  }
  #header nav:not(.landing) .menu-wrapper ul.menu li a {
    padding: 15px 0;
  }
}

#header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
#header nav .logo img {
  height: 30px;
  margin: 10px 0;
}
#header nav .btn.menu {
  display: none;
}
#header nav .menu-wrapper ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#header nav .menu-wrapper ul li {
  list-style: none;
  padding: 0 20px;
}
#header nav .menu-wrapper ul li.active a {
  color: #499c7d;
  cursor: default;
}
#header nav .menu-wrapper ul li.active:hover {
  border: none;
}
#header nav .menu-wrapper ul li:hover:not(.active) a {
  color: #cfd5dc;
  border-bottom: 2px solid #cfd5dc;
}
#header nav .menu-wrapper ul li:last-child {
  opacity: 0.5;
}
#header nav .menu-wrapper ul li a {
  padding: 10px;
  display: inline-block;
  border-bottom: 2px solid rgba(207, 213, 220, 0);
  color: rgba(207, 213, 220, 0.7);
  transition-duration: 0.3s;
}
@media screen and (max-width: 1000px) {
  #header nav:not(.landing) .btn.menu {
    display: inline-block;
  }
  #header nav:not(.landing) .menu-wrapper {
    position: fixed;
    top: 0;
    right: -200px;
    height: 100vh;
    width: 170px;
    background-color: #17181D;
    transition-duration: 0.3s;
  }
  #header nav:not(.landing) .menu-wrapper.open {
    right: 0;
  }
  #header nav:not(.landing) .menu-wrapper ul.menu {
    flex-direction: column;
    justify-content: flex-start;
  }
  #header nav:not(.landing) .menu-wrapper ul.menu li a {
    padding: 15px 0;
  }
}

#hero {
  padding: 80px 0;
  background-image: url("../imgs/hero.webp");
}
#hero > .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
#hero > .content .logo {
  width: 300px;
}
#hero > .content .text {
  width: 500px;
}
#hero > .content .text p {
  font-size: 1.1rem;
}
#hero > .content .text h1 {
  font-size: 1.6rem;
}
#hero > .content .text span {
  display: block;
}
#hero .btn.cta {
  margin: 0 auto;
  margin-top: 20px;
  display: table;
}
@media screen and (max-width: 800px) {
  #hero > .content {
    gap: 50px;
  }
}
@media screen and (max-width: 650px) {
  #hero > .content {
    flex-direction: column;
    gap: 0;
  }
  #hero > .content .logo {
    width: 150px;
  }
  #hero > .content .text {
    text-align: center;
    width: 100%;
  }
  #hero > .content .btn.cta {
    margin-top: 50px;
  }
}

#about {
  position: relative;
  padding-top: 30px;
  padding-bottom: 20px;
}
#about .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
}
#about h2 {
  font-size: 1.4rem;
}
#about h2, #about p {
  text-align: center;
}
@media screen and (max-width: 600px) {
  #about {
    padding-top: 20px;
  }
  #about .logo {
    display: none;
  }
}

#rules .paralax {
  height: 200px;
  text-align: center;
  font-size: 2rem;
  background-image: url("../imgs/rules.webp");
  display: flex;
  align-items: center;
  justify-content: center;
}
#rules .cards {
  width: 600px;
  margin: 0 auto;
}
#rules .cards .card {
  text-align: center;
  margin: 80px 0;
}
#rules .cards .card:first-child {
  margin-top: 40px;
}
#rules .cards .card:last-child {
  margin-bottom: 40px;
}
#rules .cards .card img {
  width: 100px;
}
@media screen and (max-width: 650px) {
  #rules .cards {
    width: 90%;
  }
}

#first-steps {
  background-color: #17181D;
  margin-top: 100px;
}
#first-steps .content {
  display: flex;
  alig-items: center;
  justify-content: center;
  gap: 50px;
}
#first-steps .content .text {
  width: calc(100% - 400px);
  margin: 30px 0;
}
#first-steps .content iframe {
  width: 600px;
  margin-top: -20px;
  margin-bottom: -20px;
}
@media screen and (max-width: 950px) {
  #first-steps .content {
    flex-direction: column;
  }
  #first-steps .content .text, #first-steps .content iframe {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  #first-steps .content .text {
    margin-top: 50px;
  }
  #first-steps .content iframe {
    height: 56.25vw;
    margin-bottom: 50px;
  }
}

#banner-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: #7a70b3;
  margin-top: 100px;
}
@media screen and (max-width: 600px) {
  #banner-cta {
    flex-direction: column;
    gap: 0;
    padding: 20px 0;
  }
  #banner-cta h2 {
    margin-top: 0;
  }
}

main.register {
  position: relative;
}
main.register img {
  width: 50px;
}
main.register img.decoration {
  height: 300px;
  position: absolute;
  width: auto;
  z-index: -1;
}
main.register img.decoration.top-left {
  top: 0;
  left: 0;
}
main.register img.decoration.bottom-right {
  bottom: 0;
  right: 0;
}
main.register .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
main.register .content .left, main.register .content .right {
  width: 50%;
}
main.register .content .left img {
  width: 80%;
}
main.register .content .right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 100px;
  margin-top: 30px;
}
main.register .content .right img.logo {
  width: 150px;
}
main.register .content .right img.profile {
  border-radius: 50px;
  margin-top: 20px;
  width: 50px;
}
main.register .content .right h1 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0;
}
main.register .content .right form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
main.register .content .right form label {
  width: 80%;
  margin-top: 20px;
}
main.register .content .right form label:hover span {
  opacity: 1;
}
main.register .content .right form label span {
  font-size: 0.9rem;
  color: #cfd5dc;
  margin: 10px 0;
  display: inline-block;
  margin-left: 10px;
  opacity: 0.7;
  transition-duration: 0.3s;
}
main.register .content .right form label input.text {
  width: calc(100% - 50px - 8px);
}
main.register .content .right form label input.text:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
main.register .content .right form label select {
  width: 100%;
}
main.register .content .right form label input, main.register .content .right form label select {
  border: none;
  background: #17181D;
  padding: 8px 25px;
  color: #cfd5dc;
  border-radius: 5px;
  transition-duration: 0.3s;
  border: 4px solid #17181D;
  font-size: 1rem;
}
main.register .content .right form label input:focus, main.register .content .right form label select:focus {
  background: #0e1119;
}
main.register .content .right form label.btn.cta {
  margin-top: 40px;
}
main.register .content .right form label.btn.cta .content {
  padding: 5px 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
main.register .content .right form label.btn.cta .content span {
  font-size: 1.5rem;
}
main.register .content .right form label.phone .input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 1.2rem;
}
main.register .content .right form label.phone .input-wrapper span {
  display: inline-block;
  width: 30px;
}
main.register .content .right form label.phone .input-wrapper input {
  width: calc(100% - 30px);
}

main.error404 .content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main.error404 .content .icon {
  font-size: 4rem;
}

.whatsapp > .content {
  text-align: center;
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.whatsapp > .content h1 {
  font-weight: bold;
}
.whatsapp > .content h2 {
  margin: 40px 0;
}
.whatsapp > .content .cta {
  margin: 60px 0;
}
.whatsapp > .content .video-cta-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.whatsapp > .content .video-cta-wrapper a {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.whatsapp > .content .video-cta-wrapper a:hover img {
  opacity: 1;
}
.whatsapp > .content .video-cta-wrapper a:hover span {
  background-color: rgba(122, 112, 179, 0.8);
}
.whatsapp > .content .video-cta-wrapper a img {
  width: 50px;
  transition-duration: 0.3s;
  opacity: 0.5;
  margin-bottom: 10px;
}
.whatsapp > .content .video-cta-wrapper a span {
  color: #cfd5dc;
  font-weight: bold;
  background-color: rgba(122, 112, 179, 0.3);
  padding: 5px 10px;
  border-radius: 30px;
  transition-duration: 0.3s;
  font-size: 0.8rem;
}
@media screen and (max-width: 1150px) {
  .whatsapp > .content .video-cta-wrapper {
    right: 5%;
  }
}
@media screen and (max-width: 750px) {
  .whatsapp > .content .video-cta-wrapper {
    position: initial;
  }
}

#footer {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #cfd5dc;
  font-size: 0.8rem;
}
#footer a {
  color: #cfd5dc;
}

/*# sourceMappingURL=styles.css.map */
