html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0e1119;
  font-family: "Lato", sans-serif;
}

.wrapper-img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-img img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 1rem;
  color: #cfd5dc;
}
p.small {
  font-size: 0.8rem;
}

.hide {
  display: none !important;
}

a {
  text-decoration: none;
  color: #7a70b3;
}

.regular-width {
  max-width: 1100px;
  margin: 0 auto;
}
@media screen and (max-width: 1150px) {
  .regular-width {
    padding: 0 5%;
    width: 90%;
  }
}

.full-width {
  max-width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: "Lato", cursive;
  color: #cfd5dc;
  font-weight: normal;
}

*:focus {
  outline: none;
}

.paralax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shadow {
  box-shadow: 0px 0px 23px -15px #7a70b3;
}

.btn {
  display: inline-block;
}
.btn.cta .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  background-color: #7a70b3;
  color: #cfd5dc;
  border-radius: 100px;
  transition-duration: 0.3s;
  border: 4px solid #7a70b3;
}
.btn.cta .content svg {
  fill: #cfd5dc;
  width: 20px;
  height: 20px;
  transition-duration: 0.3s;
}
.btn.cta .content span {
  line-height: 20px;
  display: inline-block;
}
.btn.cta.dark .content {
  background-color: #0e1119;
  border-color: #0e1119;
}
.btn:hover .content {
  background-color: rgba(122, 112, 179, 0.1);
  gap: 0px;
}
.btn:hover .content svg {
  width: 0px;
}
.btn:active .content {
  background-color: rgba(122, 112, 179, 0.4);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0e1119;
}

::-webkit-scrollbar-thumb {
  background: #7a70b3;
  margin-top: -5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #cfd5dc;
}

#hero {
  padding: 80px 0;
  background-image: url("../imgs/hero.webp");
}
#hero > .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
#hero > .content .logo {
  width: 300px;
}
#hero > .content .text {
  width: 500px;
}
#hero > .content .text p {
  font-size: 1.1rem;
}
#hero > .content .text h1 {
  font-size: 1.6rem;
}
#hero > .content .text span {
  display: block;
}
#hero .btn.cta {
  margin: 0 auto;
  margin-top: 20px;
  display: table;
}

#about {
  position: relative;
  padding-top: 80px;
  padding-bottom: 20px;
}
#about .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
}
#about h2 {
  font-size: 1.4rem;
}
#about h2, #about p {
  text-align: center;
}

#rules .paralax {
  height: 200px;
  text-align: center;
  font-size: 2rem;
  background-image: url("../imgs/rules.webp");
  display: flex;
  align-items: center;
  justify-content: center;
}
#rules .cards {
  width: 100%;
  max-width: 600px;
}
#rules .cards .card {
  text-align: center;
  margin: 80px 0;
}
#rules .cards .card:first-child {
  margin-top: 40px;
}
#rules .cards .card:last-child {
  margin-bottom: 40px;
}
#rules .cards .card img {
  width: 100px;
}

#first-steps {
  background-color: #17181D;
  margin-top: 100px;
}
#first-steps .content {
  display: flex;
  alig-items: center;
  justify-content: center;
  gap: 50px;
}
#first-steps .content .text {
  width: calc(100% - 400px);
  margin: 30px 0;
}
#first-steps .content iframe {
  width: 600px;
  margin-top: -20px;
  margin-bottom: -20px;
}

#banner-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  background-color: #7a70b3;
  margin-top: 150px;
}

/*# sourceMappingURL=styles.css.map */
