.btn {
  cursor: pointer;
}
.btn.cta {
  display: inline-block;
}
.btn.cta .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  background-color: #7a70b3;
  color: #cfd5dc;
  border-radius: 100px;
  transition-duration: 0.3s;
  border: 4px solid #7a70b3;
}
.btn.cta .content svg {
  fill: #cfd5dc;
  width: 20px;
  height: 20px;
  transition-duration: 0.3s;
}
.btn.cta .content span {
  line-height: 20px;
  display: inline-block;
  font-weight: bold;
}
.btn.cta:hover .content, .btn.cta.active .content {
  background-color: rgba(122, 112, 179, 0.1);
  gap: 0px;
}
.btn.cta:hover .content svg, .btn.cta.active .content svg {
  width: 0px;
}
.btn.cta:active .content {
  background-color: rgba(122, 112, 179, 0.4);
}
.btn.cta.dark .content {
  background-color: #0e1119;
  border-color: #0e1119;
}
.btn.cta.dark:hover .content {
  background-color: rgba(14, 17, 25, 0.1);
  color: #0e1119;
}
.btn.cta.dark:active .content {
  background-color: rgba(14, 17, 25, 0.8);
}
.btn.cta.green .content {
  background-color: #5db897;
  border-color: #5db897;
}
.btn.cta.green:hover .content {
  background-color: rgba(93, 184, 151, 0.1);
  color: #5db897;
}
.btn.cta.green:active .content {
  background-color: rgba(93, 184, 151, 0.8);
}
.btn.cta.green svg {
  fill: #cfd5dc;
  width: 30px;
  height: 30px;
}
.btn.menu {
  border: none;
  background-color: transparent;
  width: 60px;
  height: 60px;
}
.btn.menu.close {
  opacity: 0.5;
}
.btn.menu svg {
  fill: #cfd5dc;
  width: 40px;
  height: 40px;
}
.btn.form {
  border: none;
  padding: 5px 20px;
  border-radius: 100px;
  color: #0e1119;
  font-weight: bold;
}
.btn.form.regular {
  background-color: #5db897;
}
.btn.form.warning {
  background-color: #a34d4d;
}
.btn.form:hover:not([disabled]) {
  opacity: 0.8;
}
.btn.form:active:not([disabled]) {
  opacity: 0.5;
}
.btn.form[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #0e1119;
}

::-webkit-scrollbar-thumb {
  background: #7a70b3;
  margin-top: -5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #cfd5dc;
}

#header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
#header nav .logo img {
  height: 30px;
  margin: 10px 0;
}
#header nav .btn.menu {
  display: none;
}
#header nav .menu-wrapper ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#header nav .menu-wrapper ul li {
  list-style: none;
  padding: 0 20px;
}
#header nav .menu-wrapper ul li.active a {
  color: #5db897;
  cursor: default;
}
#header nav .menu-wrapper ul li.active:hover {
  border: none;
}
#header nav .menu-wrapper ul li:hover:not(.active) a {
  color: #cfd5dc;
  border-bottom: 2px solid #cfd5dc;
}
#header nav .menu-wrapper ul li:last-child {
  opacity: 0.5;
}
#header nav .menu-wrapper ul li a {
  padding: 10px;
  display: inline-block;
  border-bottom: 2px solid rgba(207, 213, 220, 0);
  color: rgba(207, 213, 220, 0.7);
  transition-duration: 0.3s;
}
@media screen and (max-width: 1000px) {
  #header nav:not(.landing) .btn.menu {
    display: inline-block;
  }
  #header nav:not(.landing) .menu-wrapper {
    position: fixed;
    top: 0;
    right: -200px;
    height: 100vh;
    width: 170px;
    background-color: #17181D;
    transition-duration: 0.3s;
    z-index: 2;
  }
  #header nav:not(.landing) .menu-wrapper.open {
    right: 0;
  }
  #header nav:not(.landing) .menu-wrapper ul.menu {
    flex-direction: column;
    justify-content: flex-start;
  }
  #header nav:not(.landing) .menu-wrapper ul.menu li a {
    padding: 15px 0;
  }
}

#footer {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #cfd5dc;
  font-size: 0.8rem;
}
#footer a {
  color: #cfd5dc;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 16px;
}
@media screen and (max-width: 700px) {
  html {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #0e1119;
  font-family: "Lato", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

.wrapper-img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-img img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 1rem;
  color: #cfd5dc;
}
p.small {
  font-size: 0.8rem;
}

.hide {
  display: none !important;
}

a {
  text-decoration: none;
  color: #7a70b3;
}

.regular-width {
  max-width: 1100px;
  margin: 0 auto;
}
@media screen and (max-width: 1150px) {
  .regular-width {
    padding: 0 5%;
    width: 90%;
  }
}

.full-width {
  max-width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: "Lato", cursive;
  color: #cfd5dc;
  font-weight: normal;
}

*:focus {
  outline: none;
}

.paralax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shadow {
  box-shadow: 0px 0px 23px -15px #7a70b3;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.app-screen {
  width: 100%;
}
.app-screen > .content {
  min-height: calc(100vh - 53px - 36px);
}

.title-card {
  position: relative;
  height: 60px;
}
.title-card h2 {
  font-size: 1.2rem;
  color: #cfd5dc;
  font-weight: bold;
  padding: 10px 0;
  position: relative;
  margin-left: -20px;
  z-index: 1;
  text-align: center;
}
.title-card h2::after {
  position: absolute;
  content: "";
  width: calc(100% - 20px);
  height: 100%;
  background-color: #3f3b59;
  top: 0;
  left: 0;
  z-index: -1;
}
.title-card .decorator {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
}
.title-card .decorator::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background-color: rgba(63, 59, 89, 0.2);
  top: 17px;
  left: -10px;
  z-index: -2;
  transform: rotate(45deg);
}
.title-card .decorator::before {
  position: absolute;
  content: "";
  width: 59px;
  height: 70px;
  background-color: #17181D;
  top: 10px;
  left: 0px;
  z-index: -1;
}

.loading-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(14, 17, 25, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
@keyframes ldio-m9447fica1r-o {
  0% {
    opacity: 1;
    transform: translate(0 0);
  }
  49.99% {
    opacity: 1;
    transform: translate(64.68px, 0);
  }
  50% {
    opacity: 0;
    transform: translate(64.68px, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 0);
  }
}
@keyframes ldio-m9447fica1r {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(64.68px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.loading-wrapper .ldio-m9447fica1r div {
  position: absolute;
  width: 64.68px;
  height: 64.68px;
  border-radius: 50%;
  top: 83.16px;
  left: 50.82px;
}
.loading-wrapper .ldio-m9447fica1r div:nth-child(1) {
  background: #7a70b3;
  animation: ldio-m9447fica1r 1s linear infinite;
  animation-delay: -0.5s;
}
.loading-wrapper .ldio-m9447fica1r div:nth-child(2) {
  background: #5db897;
  animation: ldio-m9447fica1r 1s linear infinite;
  animation-delay: 0s;
}
.loading-wrapper .ldio-m9447fica1r div:nth-child(3) {
  background: #7a70b3;
  animation: ldio-m9447fica1r-o 1s linear infinite;
  animation-delay: -0.5s;
}
.loading-wrapper .loadingio-spinner-dual-ball-ng13x2kgmq {
  width: 231px;
  height: 231px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.loading-wrapper .ldio-m9447fica1r {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.loading-wrapper .ldio-m9447fica1r div {
  box-sizing: content-box;
}

.profile-card.vertical {
  position: relative;
  width: 250px;
  text-align: center;
  padding-bottom: 10px;
}
.profile-card.vertical .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profile-card.vertical .profile img.ranking {
  width: 80px;
  margin: 0 auto;
  margin-bottom: -9px;
  margin-left: 35px;
  transform: rotate(-30deg);
}
.profile-card.vertical .profile img.profile-image {
  width: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.profile-card.vertical .bg {
  z-index: -1;
  position: absolute;
  background-color: #17181D;
  border-radius: 10px;
}
.profile-card.vertical h1, .profile-card.vertical h2 {
  text-transform: uppercase;
}
.profile-card.vertical p {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 0;
  margin: 0;
}
.profile-card.vertical .bg {
  width: 100%;
  height: calc(100% - 100px);
  bottom: 0;
  left: 0;
}
.profile-card.horizontal {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.profile-card.horizontal.small .points-wrapper .point:nth-child(2) {
  display: none;
}
.profile-card.horizontal .profile {
  position: relative;
}
.profile-card.horizontal .profile img.ranking {
  margin-left: -16px;
  width: 40px;
  position: absolute;
  top: -32px;
  left: 5px;
  transform: rotate(-30deg);
}
.profile-card.horizontal .profile img.profile-image {
  width: 90px;
  border-radius: 50%;
}
.profile-card.horizontal .bg {
  width: calc(100% - 30px);
  height: 60px;
  bottom: 16px;
  left: 30px;
  position: absolute;
  background-color: #17181D;
  z-index: -1;
}
.profile-card.horizontal .points-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: calc(100% - 100px);
}
.profile-card.horizontal .points-wrapper .point {
  width: 50px;
  height: 70px;
  background-color: #0e1119;
  padding: 0 20px;
  background-color: #3f3b59;
  text-align: center;
}
.profile-card.horizontal .points-wrapper .point h2 {
  font-size: 0.7rem;
}
.profile-card.horizontal .points-wrapper .point p {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0;
}
@media screen and (max-width: 480px) {
  .profile-card.horizontal .points-wrapper .point {
    padding: 0 10px;
  }
}

main.support > .content {
  display: flex;
  align-items: center;
  justify-content: center;
}
main.support > .content .streams {
  width: calc(100% - 300px);
}
main.support > .content .streams .time-timezone-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}
main.support > .content .streams .time-timezone-wrapper .time-timezone {
  background-color: #17181D;
  padding: 0 10px;
}
main.support > .content .streams .time-timezone-wrapper .time-timezone span {
  margin: 20px;
  color: #cfd5dc;
  display: inline-block;
}
main.support > .content .streams .time-timezone-wrapper .time-timezone span.time {
  font-size: 1.2em;
  font-weight: bold;
}
main.support > .content .streams .message-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
main.support > .content .streams .message-card img {
  width: 300px;
}
main.support > .content .streams .message-card .text {
  text-align: center;
}
main.support > .content .streams .message-card .text h3 {
  font-size: 1.5em;
}
main.support > .content .streams .message-card .text .next-stream span {
  padding: 15px;
}
main.support > .content .streams .streams-cards {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 100px;
}
main.support > .content .streams .streams-cards .stream-card {
  height: 70px;
  background-color: #17181D;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40%;
}
main.support > .content .streams .streams-cards .stream-card .wrapper-img {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: -15px;
}
main.support > .content .streams .streams-cards .stream-card .wrapper-img img {
  border-radius: 50%;
  width: 90%;
  height: 90%;
}
main.support > .content .streams .streams-cards .stream-card.vip .wrapper-img {
  animation: zoom 2.5s ease-in-out infinite;
}
main.support > .content .streams .streams-cards .stream-card.vip .wrapper-img::after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid #7a70b3;
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  animation: border 1s ease-in-out infinite;
}
main.support > .content .streams .streams-cards .stream-card p {
  margin-left: 70px;
}
main.support > .content .streams .streams-cards .stream-card .btn.cta {
  position: absolute;
  bottom: -70px;
  background-color: #0e1119;
  border: none;
}
main.support > .content .streams .streams-cards .stream-card .btn.cta span {
  font-weight: bold;
}
main.support > .content .streams .referral {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
}
main.support > .content .streams .referral p {
  text-transform: uppercase;
}
main.support > .content .streams .referral span {
  background-color: #17181D;
  padding: 5px 10px;
  margin-left: 20px;
  color: #cfd5dc;
}
@media screen and (max-width: 1100px) {
  main.support > .content .streams .streams-cards {
    flex-direction: column;
  }
  main.support > .content .streams .streams-cards .stream-card {
    width: 80%;
    margin-bottom: 20px;
  }
  main.support > .content .streams .streams-cards .stream-card:nth-child(2) {
    margin-top: 100px;
  }
  main.support > .content .streams .streams-cards .stream-card p {
    margin-left: 0px;
  }
  main.support > .content .streams .referral {
    flex-direction: column;
  }
  main.support > .content .streams .referral span {
    margin-left: 0;
  }
}
@media screen and (max-width: 1050px) {
  main.support > .content .streams .message-card {
    flex-direction: column;
  }
}
@media screen and (max-width: 850px) {
  main.support > .content {
    flex-direction: column;
  }
  main.support > .content .streams {
    width: 100%;
  }
  main.support > .content .streams .streams-cards {
    flex-direction: row;
  }
  main.support > .content .streams .streams-cards .stream-card {
    width: 40%;
    margin-bottom: 0;
  }
  main.support > .content .streams .streams-cards .stream-card:nth-child(2) {
    margin-top: 0;
  }
  main.support > .content .streams .streams-cards .stream-card p {
    margin-left: 70px;
  }
  main.support > .content .streams .referral {
    margin-bottom: 50px;
    text-align: center;
  }
}
@media screen and (max-width: 750px) {
  main.support > .content .streams .streams-cards {
    flex-direction: column;
  }
  main.support > .content .streams .streams-cards .stream-card {
    width: 80%;
    margin-bottom: 20px;
  }
  main.support > .content .streams .streams-cards .stream-card:nth-child(2) {
    margin-top: 100px;
  }
  main.support > .content .streams .streams-cards .stream-card p {
    margin-left: 0px;
  }
}
@media screen and (max-width: 450px) {
  main.support > .content .streams .streams-cards .stream-card {
    height: auto;
    border-radius: 10px;
  }
  main.support > .content .streams .streams-cards .stream-card:nth-child(1) {
    margin-top: 50px;
  }
  main.support > .content .streams .streams-cards .stream-card:nth-child(2) {
    margin-top: 170px;
  }
  main.support > .content .streams .streams-cards .stream-card p {
    margin: 15px;
  }
  main.support > .content .streams .streams-cards .stream-card img {
    top: -92px;
    left: 50%;
    transform: translateX(-50%);
  }
  main.support > .content .streams .message-card img {
    width: 100%;
  }
}
@media screen and (max-width: 380px) {
  main.support > .content .streams .time-timezone-wrapper .time-timezone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  main.support > .content .streams .time-timezone-wrapper .time-timezone span.time {
    font-size: 2rem;
    margin-top: 0;
  }
  main.support > .content .streams .streams-cards {
    margin-top: 30px;
  }
}

@keyframes border {
  0% {
    filter: blur(1px);
  }
  50% {
    filter: blur(4px);
  }
  100% {
    filter: blur(1px);
  }
}
@keyframes zoom {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}

/*# sourceMappingURL=support.css.map */
